<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.BlogCommentMapper">
    <resultMap id="BlogCommentResultMap" type="com.blog.entity.BlogComment">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="blogId" column="blog_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="answerId" column="answer_id"/>
        <result property="content" column="content" />
        <result property="liked" column="liked" />
        <result property="images" column="images" />
        <result property="createTime" column="create_time" />
        <result property="name" column="nick_name" />
        <result property="icon" column="icon"/>
        <result property="answerName" column="answer_name"/>
    </resultMap>
    <insert id="insertComment" parameterType="com.blog.entity.BlogComment" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO blog_comments (user_id, blog_id, parent_id, answer_id, content, images, create_time)
        VALUES (#{userId}, #{blogId}, #{parentId}, #{answerId}, #{content}, #{images}, #{createTime})
    </insert>
    <delete id="deleteComment" parameterType="Long">
        DELETE FROM blog_comments WHERE id = #{id} or parent_id = #{id}
    </delete>
    <select id="selectCommentById" parameterType="Long" resultMap="BlogCommentResultMap">
        SELECT * FROM blog_comments WHERE id = #{id}
    </select>
    <select id="selectParentCommentByBlogId" parameterType="Long" resultMap="BlogCommentResultMap">
        SELECT
            b.id AS id,
            b.user_id AS user_id,
            b.blog_id AS blog_id,
            b.parent_id AS parent_id,
            b.answer_id AS answer_id,
            b.content AS content,
            b.liked AS liked,
            b.images AS images,
            b.create_time AS create_time,
            u.nick_name AS nick_name,
            u.icon AS icon
        FROM
            blog_comments b
        INNER JOIN
            bk_user u ON b.user_id = u.id
        WHERE
            b.blog_id = #{blogId} and b.parent_id = 0
        ORDER BY b.liked DESC, b.id DESC
    </select>
    <select id="selectSonCommentByBlogId" parameterType="Long" resultMap="BlogCommentResultMap">
        SELECT
            b.id AS id,
            b.user_id AS user_id,
            b.blog_id AS blog_id,
            b.parent_id AS parent_id,
            b.answer_id AS answer_id,
            b.content AS content,
            b.liked AS liked,
            b.images AS images,
            b.create_time AS create_time,
            u.nick_name AS nick_name,
            u.icon AS icon,
            u1.nick_name AS answer_name
        FROM
            blog_comments b
        INNER JOIN
            bk_user u ON b.user_id = u.id
        LEFT JOIN
            bk_user u1 ON b.answer_id = u1.id
        WHERE
            b.blog_id = #{blogId} and b.parent_id = #{parentId}
        ORDER BY b.liked DESC, b.id DESC
    </select>
    <select id="selectCommentByBlogIdAndId" parameterType="Long" resultMap="BlogCommentResultMap">
        SELECT * FROM blog_comments WHERE blog_id = #{blogId} and id = #{id}
    </select>
    <update id="likeComment" parameterType="Long">
        UPDATE blog_comments SET liked = liked + 1 WHERE id = #{id}
    </update>
    <update id="unLikeComment" parameterType="Long">
        UPDATE blog_comments SET liked = liked - 1 WHERE id = #{id}
    </update>
    <select id="selectCommentByUserId" parameterType="Long" resultMap="BlogCommentResultMap">
        SELECT
            b.id AS id,
            b.user_id AS user_id,
            b.blog_id AS blog_id,
            b.parent_id AS parent_id,
            b.answer_id AS answer_id,
            b.content AS content,
            b.liked AS liked,
            b.images AS images,
            b.create_time AS create_time,
            u.nick_name AS nick_name,
            u.icon AS icon,
            u1.nick_name AS answer_name
        FROM
            blog_comments b
        INNER JOIN
            bk_user u ON b.user_id = u.id
        LEFT JOIN
            bk_user u1 ON b.answer_id = u1.id
        WHERE
            b.user_id = #{userId}
        ORDER BY b.liked DESC, b.id DESC
    </select>

</mapper>
